:root {
  --primary: #d44444;
  --font-light: #dddddd;
  --font-gray: #778;
  --font-dark: #111;
  --background-light: #fff;
  --background-dark: #0f0f0f;
  --background-dark-navbar: #090a0b;
}

/* Google Font Roboto */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body.dark-mode {
  background: var(--background-dark);
  color: var(--font-light);
}

body.light-mode {
  background: var(--background-light);
  color: var(--font-dark);
}
